.tourssection {
  display: grid;
  justify-items: center;
}

.underline {
  margin: 0;
  border: 2px solid black;
  width: 10px;
  height: 0px;
}
.title {
  display: flex;
  flex-direction: column;
}
h2 {
  border-bottom: 3px solid black;
}
